body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  flex: 0 1 calc(33.333% - 20px);
  max-width: 400px;
  margin-top:0.5rem;
  margin-left:0.5rem;
}

.book-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

h1{
  font-size: 30px;
  text-align: center;
  margin-top: 0.5rem;
}
