<div class="content">
  <h1>Aliens</h1>
  <div class="container-card">
    <mat-card class="book-card" *ngFor="let book of books; let i = index">
      <img mat-card-image [src]="book.imageUrl" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{book.description}}
        </p>
      </mat-card-content>
      <button (click)="selectBook(book, i)">Sélectionner</button>
    </mat-card>
  </div>
  <button (click)="saveBooks()">Enregistrer les livres</button>
</div>


