.save-button {
  text-align: center;
  margin-top: 50px;
}

.save-button button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button button:hover {
  background-color: #0b7dda;
}
