.menu {
  display: flex;
  background-color: cornflowerblue;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.menu > div {
  margin-right: 50px;
}

.menu > div:last-child {
  margin-left: 40px;
}

.menu button {
  padding:15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.menu button:hover {
  background-color: #45a049;
}
