<div class="menu">
  <div>
    <mat-form-field>
      <mat-label>Classe</mat-label>
      <mat-select>
        <mat-option *ngFor="let Classe of Classes" [value]="Classe.value">{{Classe.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Specie</mat-label>
      <mat-select>
        <mat-option *ngFor="let Specie of Species" [value]="Specie.value">{{Specie.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Job</mat-label>
      <mat-select>
        <mat-option *ngFor="let Job of Jobs" [value]="Job.value">{{Job.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button (click)="generate()">Générer</button>
  </div>
</div>
