<app-rpgcharacteria-interface></app-rpgcharacteria-interface>

<app-rpgcharacteria-history></app-rpgcharacteria-history>

<app-rpgcharacteria-img ></app-rpgcharacteria-img>

<app-rpgcharacteria-back-save></app-rpgcharacteria-back-save>
<app-rpgcharacteria-back-list></app-rpgcharacteria-back-list>
