<mat-card class="book-card" *ngFor="let book of books">
  <img mat-card-image [src]="book.imageUrl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{book.description}}
    </p>
  </mat-card-content>
</mat-card>
